# Import Data and Libraries

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('../data/diabetes_data.csv')

In [3]:
data.head()

,Name,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,Riya Patel,21,female,pitta,vegetarian,"sweet, spicy, salty, oily, heavy",irregular,no,7,good,regular,3,no,yes
1,Jagruti,35,female,pitta,other,sweet,regular,yes,8,average,regular,1,yes,yes
2,Zalak Manthanlal Patel,25,female,i don't know,other,"sweet, spicy, cooling",mostly regular,no,8,average,regular,2,i prefer not to say,no
3,Alpesh Dashrathbhai Patel,37,male,i don't know,vegetarian,"spicy, oily",regular,no,8,good,regular,3,no,no
4,Babubhai,62,male,vata,vegetarian,sweet,regular,no,10,good,regular,1,yes,yes

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563 entries, 0 to 3562
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name                        3563 non-null   object
 1   Age                         3563 non-null   int64
 2   Gender                      3563 non-null   object
 3   Prakriti                    3563 non-null   object
 4   Diet                        3563 non-null   object
 5   Food Preferences            3563 non-null   object
 6   Meal Timing                 3563 non-null   object
 7   Exercise                    3563 non-null   object
 8   Sleep Hours/Night           3563 non-null   int64
 9   Sleep Quality               3563 non-null   object
 10  Daily Routine               3563 non-null   object
 11  Stress Level                3563 non-null   int64
 12  Diabetes Diagnosis          3563 non-null   object
 13  Family History of Diabetes  3563 non-null   object
dtypes: int64(3), object(11)
memory usage: 389.8+ KB

# Checking for Missing values

In [5]:
data.isnull().sum()

Name                          0
Age                           0
Gender                        0
Prakriti                      0
Diet                          0
Food Preferences              0
Meal Timing                   0
Exercise                      0
Sleep Hours/Night             0
Sleep Quality                 0
Daily Routine                 0
Stress Level                  0
Diabetes Diagnosis            0
Family History of Diabetes    0
dtype: int64

# Droping name column

In [6]:
data=data.drop('Name',axis=1)

# Encoding the Data using Label Encoder

Encoding Prakriti

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_prakriti=LabelEncoder()

In [9]:
data['Prakriti']=le_prakriti.fit_transform(data['Prakriti'])

In [10]:
data['Prakriti'].unique()

array([2, 0, 4, 5, 6, 1, 3])

Encoding Diet

In [11]:
le_diet=LabelEncoder()

In [12]:
data['Diet']=le_diet.fit_transform(data['Diet'])

In [13]:
data['Diet'].unique()

array([3, 1, 2, 0])

Encoding Food Preferneces

In [14]:
def encode_food_preferance(x):
    if isinstance(x, str):
        prefs=sorted(x.split(', '))
        return ','.join(prefs)
    return ''

In [15]:
data['Food Preferences']=data['Food Preferences'].apply(encode_food_preferance)

In [16]:
le_food=LabelEncoder()

In [17]:
data['Food Preferences']=le_food.fit_transform(data['Food Preferences'])

In [18]:
data['Food Preferences']

0       475
1       705
2       242
3       643
4       705
       ...
3558    701
3559    605
3560    693
3561    705
3562    701
Name: Food Preferences, Length: 3563, dtype: int64

In [19]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,21,female,2,3,475,irregular,no,7,good,regular,3,no,yes
1,35,female,2,1,705,regular,yes,8,average,regular,1,yes,yes
2,25,female,0,1,242,mostly regular,no,8,average,regular,2,i prefer not to say,no
3,37,male,0,3,643,regular,no,8,good,regular,3,no,no
4,62,male,4,3,705,regular,no,10,good,regular,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,50,female,4,3,701,mostly regular,no,7,good,irregular,2,no,no
3559,65,male,4,3,605,mostly regular,yes,8,poor,irregular,3,no,yes
3560,29,male,1,3,693,mostly irregular,yes,8,good,regular,2,no,no
3561,68,male,3,0,705,mostly regular,yes,6,poor,irregular,1,no,yes
3562,39,male,6,0,701,mostly regular,no,7,good,regular,3,no,no

Encoding Gender

In [20]:
le_gender=LabelEncoder()

In [21]:
data['Gender']=le_gender.fit_transform(data['Gender'])

In [22]:
data['Gender'].unique()

array([0, 1])

Encoding Sleep Quality

In [23]:
le_sleep_quality=LabelEncoder()

In [24]:
data['Sleep Quality']=le_sleep_quality.fit_transform(data['Sleep Quality'])

In [25]:
data['Sleep Quality'].unique()

array([1, 0, 2])

Encoding Meal Timings

In [26]:
le_meal_timing=LabelEncoder()

In [27]:
data['Meal Timing']=le_meal_timing.fit_transform(data['Meal Timing'])

In [28]:
data['Meal Timing'].unique()

array([0, 3, 2, 1])

# Encoding using Binary Encoder

Encoding Excercise

In [29]:
data['Exercise']=data['Exercise'].map({'yes':1,'no':0})

In [30]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,21,0,2,3,475,0,0,7,1,regular,3,no,yes
1,35,0,2,1,705,3,1,8,0,regular,1,yes,yes
2,25,0,0,1,242,2,0,8,0,regular,2,i prefer not to say,no
3,37,1,0,3,643,3,0,8,1,regular,3,no,no
4,62,1,4,3,705,3,0,10,1,regular,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,50,0,4,3,701,2,0,7,1,irregular,2,no,no
3559,65,1,4,3,605,2,1,8,2,irregular,3,no,yes
3560,29,1,1,3,693,1,1,8,1,regular,2,no,no
3561,68,1,3,0,705,2,1,6,2,irregular,1,no,yes
3562,39,1,6,0,701,2,0,7,1,regular,3,no,no

Encoding Daily Routine

In [31]:
data['Daily Routine']=data['Daily Routine'].map({'regular':1, 'irregular':0})

In [32]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,21,0,2,3,475,0,0,7,1,1,3,no,yes
1,35,0,2,1,705,3,1,8,0,1,1,yes,yes
2,25,0,0,1,242,2,0,8,0,1,2,i prefer not to say,no
3,37,1,0,3,643,3,0,8,1,1,3,no,no
4,62,1,4,3,705,3,0,10,1,1,1,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,50,0,4,3,701,2,0,7,1,0,2,no,no
3559,65,1,4,3,605,2,1,8,2,0,3,no,yes
3560,29,1,1,3,693,1,1,8,1,1,2,no,no
3561,68,1,3,0,705,2,1,6,2,0,1,no,yes
3562,39,1,6,0,701,2,0,7,1,1,3,no,no

Encoding Diabetes Diagnosis

In [33]:
data['Diabetes Diagnosis']=data['Diabetes Diagnosis'].map({'yes':1,'no':0,'i prefer not to say':0})

In [34]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,21,0,2,3,475,0,0,7,1,1,3,0,yes
1,35,0,2,1,705,3,1,8,0,1,1,1,yes
2,25,0,0,1,242,2,0,8,0,1,2,0,no
3,37,1,0,3,643,3,0,8,1,1,3,0,no
4,62,1,4,3,705,3,0,10,1,1,1,1,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,50,0,4,3,701,2,0,7,1,0,2,0,no
3559,65,1,4,3,605,2,1,8,2,0,3,0,yes
3560,29,1,1,3,693,1,1,8,1,1,2,0,no
3561,68,1,3,0,705,2,1,6,2,0,1,0,yes
3562,39,1,6,0,701,2,0,7,1,1,3,0,no

Encoding Family History of Diabetes

In [35]:
data['Family History of Diabetes'].unique()

array(['yes', 'no', "i don't know"], dtype=object)

In [36]:
data['Family History of Diabetes']=data['Family History of Diabetes'].map({'yes':1,'no':0,"i don't know":0})

In [37]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,21,0,2,3,475,0,0,7,1,1,3,0,1
1,35,0,2,1,705,3,1,8,0,1,1,1,1
2,25,0,0,1,242,2,0,8,0,1,2,0,0
3,37,1,0,3,643,3,0,8,1,1,3,0,0
4,62,1,4,3,705,3,0,10,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,50,0,4,3,701,2,0,7,1,0,2,0,0
3559,65,1,4,3,605,2,1,8,2,0,3,0,1
3560,29,1,1,3,693,1,1,8,1,1,2,0,0
3561,68,1,3,0,705,2,1,6,2,0,1,0,1
3562,39,1,6,0,701,2,0,7,1,1,3,0,0

# Encoding using Min-Max Scaler

In [38]:
from sklearn.preprocessing import MinMaxScaler

Encoding Age

In [39]:
mm_age=MinMaxScaler()

In [40]:
data['Age']=mm_age.fit_transform(data[['Age']])

In [41]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,0.063492,0,2,3,475,0,0,7,1,1,3,0,1
1,0.285714,0,2,1,705,3,1,8,0,1,1,1,1
2,0.126984,0,0,1,242,2,0,8,0,1,2,0,0
3,0.317460,1,0,3,643,3,0,8,1,1,3,0,0
4,0.714286,1,4,3,705,3,0,10,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,0.523810,0,4,3,701,2,0,7,1,0,2,0,0
3559,0.761905,1,4,3,605,2,1,8,2,0,3,0,1
3560,0.190476,1,1,3,693,1,1,8,1,1,2,0,0
3561,0.809524,1,3,0,705,2,1,6,2,0,1,0,1
3562,0.349206,1,6,0,701,2,0,7,1,1,3,0,0

Encoding Stress Level

In [42]:
mm_stress_level=MinMaxScaler()

In [43]:
data['Stress Level']=mm_stress_level.fit_transform(data[['Stress Level']])

In [44]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,0.063492,0,2,3,475,0,0,7,1,1,0.50,0,1
1,0.285714,0,2,1,705,3,1,8,0,1,0.00,1,1
2,0.126984,0,0,1,242,2,0,8,0,1,0.25,0,0
3,0.317460,1,0,3,643,3,0,8,1,1,0.50,0,0
4,0.714286,1,4,3,705,3,0,10,1,1,0.00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,0.523810,0,4,3,701,2,0,7,1,0,0.25,0,0
3559,0.761905,1,4,3,605,2,1,8,2,0,0.50,0,1
3560,0.190476,1,1,3,693,1,1,8,1,1,0.25,0,0
3561,0.809524,1,3,0,705,2,1,6,2,0,0.00,0,1
3562,0.349206,1,6,0,701,2,0,7,1,1,0.50,0,0

Encoding Sleep Hours/Night

In [45]:
mm_sleep_hours=MinMaxScaler()

In [46]:
data['Sleep Hours/Night']=mm_sleep_hours.fit_transform(data[['Sleep Hours/Night']])

In [47]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,0.063492,0,2,3,475,0,0,0.285714,1,1,0.50,0,1
1,0.285714,0,2,1,705,3,1,0.428571,0,1,0.00,1,1
2,0.126984,0,0,1,242,2,0,0.428571,0,1,0.25,0,0
3,0.317460,1,0,3,643,3,0,0.428571,1,1,0.50,0,0
4,0.714286,1,4,3,705,3,0,0.714286,1,1,0.00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,0.523810,0,4,3,701,2,0,0.285714,1,0,0.25,0,0
3559,0.761905,1,4,3,605,2,1,0.428571,2,0,0.50,0,1
3560,0.190476,1,1,3,693,1,1,0.428571,1,1,0.25,0,0
3561,0.809524,1,3,0,705,2,1,0.142857,2,0,0.00,0,1
3562,0.349206,1,6,0,701,2,0,0.285714,1,1,0.50,0,0

# Saving the encoded data

In [48]:
data

,Age,Gender,Prakriti,Diet,Food Preferences,Meal Timing,Exercise,Sleep Hours/Night,Sleep Quality,Daily Routine,Stress Level,Diabetes Diagnosis,Family History of Diabetes
0,0.063492,0,2,3,475,0,0,0.285714,1,1,0.50,0,1
1,0.285714,0,2,1,705,3,1,0.428571,0,1,0.00,1,1
2,0.126984,0,0,1,242,2,0,0.428571,0,1,0.25,0,0
3,0.317460,1,0,3,643,3,0,0.428571,1,1,0.50,0,0
4,0.714286,1,4,3,705,3,0,0.714286,1,1,0.00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3558,0.523810,0,4,3,701,2,0,0.285714,1,0,0.25,0,0
3559,0.761905,1,4,3,605,2,1,0.428571,2,0,0.50,0,1
3560,0.190476,1,1,3,693,1,1,0.428571,1,1,0.25,0,0
3561,0.809524,1,3,0,705,2,1,0.142857,2,0,0.00,0,1
3562,0.349206,1,6,0,701,2,0,0.285714,1,1,0.50,0,0

In [49]:
data.to_csv('../data/encoded_data.csv',index=False)

# Saving the encoders

In [53]:
import joblib

joblib.dump(le_diet, "../models/le_diet.pkl")
joblib.dump(le_food, "../models/le_food.pkl")
joblib.dump(le_gender, "../models/le_gender.pkl")
joblib.dump(le_meal_timing, "../models/le_meal_timing.pkl")
joblib.dump(le_prakriti, "../models/le_prakriti.pkl")
joblib.dump(le_sleep_quality, "../models/le_sleep_quality.pkl")
joblib.dump(mm_age, "../models/mm_age.pkl")
joblib.dump(mm_sleep_hours, "../models/mm_sleep_hours.pkl")
joblib.dump(mm_stress_level, "../models/mm_stress_level.pkl")

['../models/mm_stress_level.pkl']